# Python
*.pyc
__pycache__/

# Environment
venv/

# Django DB (if using SQLite)
db.sqlite3

# Django migrations (optional)
*/migrations/__pycache__/
*/migrations/*.pyc

# VS Code settings (if using VSCode)
.vscode/

# OS files
.DS_Store
Thumbs.db

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage

# MyPy
.mypy_cache/

# GitHub Codespaces
*.code-workspace

# media files
/media/